@use "../base/fonts";

header{
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    @include fonts.contrast-font;
    font-size: 3em;
    font-weight: 700;
    transition: 0.5s;
    
    text-transform: uppercase;
    

    @media only screen and (min-width: 798px){
        font-size: 4em;
    }

    @media only screen and (min-width: 1920px){
        font-size: 5em;
    }

    @media only screen and (max-width: 500px){
        font-size: 2em;
    }

    h1{
        flex: 0 0 60%;
        display: flex;
        justify-content: space-between;
    }

    span{
        &:hover{
            cursor: default;
        }
    }

    .icon-athenaeum:before{
        font-size: 2em;
    }

    .icon-athenaeum{
        margin-right: 0.5em;
    }
}