@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Root*/
video.background {
  z-index: -100;
}

img.background {
  z-index: -200;
}

#root-background-overlay.background {
  z-index: -50;
}

#page-container {
  z-index: -400;
}

.header-container {
  position: relative;
  width: 100%;
}

header {
  position: absolute;
  top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (min-width: 798px) {
  header {
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    font-size: 4.5em;
  }
}
@media only screen and (max-width: 500px) {
  header {
    font-size: 2em;
  }
}
header h1 {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
header span:hover {
  cursor: default;
}
header .icon-athenaeum:before {
  font-size: 2em;
}
header .icon-athenaeum {
  margin-right: 0.5em;
}

#settings-menu {
  color: white;
  text-shadow: 1px 1px 10px black;
  position: absolute;
  height: 12vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/*"All /direct/ decendents of .settings-menu*/
#settings-menu-options {
  flex: 0 0 100%;
  min-height: 12vh;
  display: flex;
  column-gap: 6vh;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.75s;
}
#settings-menu-options .settings-menu-option {
  font-size: 4vh;
  margin: 0.1em 0em;
}
#settings-menu-options .settings-menu-option:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#settings-menu-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}

#settings-menu-toggle {
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: 2vh;
  transform: scale(1.5);
  transition: transform 0.5s;
}
#settings-menu-toggle:hover {
  cursor: pointer;
}

#background-select-options {
  display: flex;
  flex-flow: row wrap;
  row-gap: 30vh;
  justify-content: center;
  min-height: 23vh;
  width: 90vw;
}

.background-select-option {
  position: relative;
  height: 23vh;
  width: 45vh;
  padding: 0 15px 15px 20px;
}

.background-select-option-title {
  color: white;
  text-shadow: 1px 1px 10px black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.8vh;
  width: 60%;
  display: flex;
  justify-content: space-between;
  transition: width 0.5s;
  z-index: 1;
}

.background-select-option-preview {
  position: inherit;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.2vh 1vh 0.2vh black;
  border-radius: 8px;
  object-fit: contain;
}
.background-select-option-preview > img, .background-select-option-preview > video {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: cover;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
.background-select-option-preview:hover {
  cursor: pointer;
}

html {
  font-size: 1em;
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
}

body {
  min-width: 300px;
}

#page-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: clip;
}

#page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100vh);
  overflow-y: visible;
}

#page-background-container {
  transform: translateY(0px);
}
#page-background-container #page-background-overlay {
  min-height: 100vh;
  position: relative;
  background-color: rgb(224, 250, 255);
  opacity: 0.05;
}
#page-background-container #page-background-image {
  min-height: 100vh;
  transform: rotateX(180deg);
}
#page-background-container #page-background-video {
  min-height: 100vh;
  transform: rotateX(180deg);
}

#root {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0em 1em;
}
#root #root-background-overlay.background {
  min-height: 100vh;
  background-color: #001629;
  opacity: 0.2;
}
@media only screen and (min-width: 798px) {
  #root {
    padding: 0em 2.5em;
  }
}
#root.active {
  bottom: 12vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
