@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-container {
  position: relative;
  width: 100%;
}

header {
  position: absolute;
  top: 1em;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: 3em;
  font-weight: 700;
  transition: font-size 0.5s, transform 1s;
  text-transform: uppercase;
}
@media only screen and (min-width: 798px) {
  header {
    font-size: 4em;
  }
}
@media only screen and (min-width: 1920px) {
  header {
    font-size: 5em;
  }
}
@media only screen and (max-width: 500px) {
  header {
    font-size: 2em;
  }
}
header h1 {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
header span:hover {
  cursor: default;
}
header .icon-athenaeum:before {
  font-size: 2em;
}
header .icon-athenaeum {
  margin-right: 0.5em;
}

#settings-menu {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -102;
  display: flex;
  align-items: center;
  justify-content: center;
}
#settings-menu span {
  position: absolute;
  font-size: 3.5em;
  right: 1vw;
  transition: font-size display 0.5s;
}
@media only screen and (min-width: 1920px) {
  #settings-menu span {
    font-size: 4.5em;
  }
}
@media only screen and (min-width: 798px) {
  #settings-menu span {
    font-size: 4em;
  }
}
@media only screen and (max-width: 500px) {
  #settings-menu span {
    display: none;
  }
}

/*"All /direct/ decendents of .settings-menu*/
.settings-menu-options {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.settings-menu-options > * {
  margin: 0em 0.5em;
}
.settings-menu-options > *:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#settings-menu-toggle {
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: 1.5em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
#settings-menu-toggle:hover {
  cursor: pointer;
}

html {
  font-size: 1em;
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
}

.root {
  position: absolute;
  display: flex;
  bottom: 0;
  min-width: 100vw;
  height: 100%;
  padding: 0em 1em;
  transition: bottom 0.5s;
}
@media only screen and (min-width: 798px) {
  .root {
    padding: 0em 2.5em;
  }
}
.root video.background {
  z-index: -100;
}
.root img.background {
  z-index: -101;
}
.root.active {
  bottom: 100px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
