@use "../../base/fonts";
@use "../../base/globals";

@mixin menu-option{
    &:hover{
        cursor: pointer;
        transform: scale(1.10);
    }
}

#settings-menu{
    @include fonts.contrast-font(white);
    
    position: absolute;
    height: globals.$settings-menu-height; 
    width: 100%;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    span{
        position: absolute;
        font-size: 8vh;
        right: 1vw;

        transition: font-size display 0.5s;
    
        @media only screen and (max-width: 500px){
            display: none;
        }
    }
}

/*"All /direct/ decendents of .settings-menu*/
#settings-menu-options{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center; 

    opacity: 0;
    transition: opacity 0.75s;
 
    font-size: 4vh;

    > *{
        @include menu-option;
        margin: 0em 0.6em;
    }
}

#settings-menu-toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

#settings-menu-toggle{
    @include fonts.contrast-font(white);
    
    font-size: 2vh;
    transform: scale(1.5);
    transition: transform 0.5s;

    &:hover{
        cursor: pointer;
    }
}