@use "../../base/fonts";
@use "../../base/globals";

@mixin menu-option{
    &:hover{
        cursor: pointer;
        transform: scale(1.10);
    }
}

#settings-menu{
    @include fonts.contrast-font(white);
    
    position: absolute;
    height: globals.$settings-menu-height; 
    width: 100%;
    top: 0;
    left: 0;

    margin: 0;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/*"All /direct/ decendents of .settings-menu*/
#settings-menu-options{
    flex: 0 0 100%;

    min-height: globals.$settings-menu-height;

    display: flex;
    column-gap: 2em;
    align-items: center;
    justify-content: center; 

    opacity: 0;
    transition: opacity 0.75s;

    .settings-menu-option{
        @include menu-option;

        font-size: 4vh;
        margin: 0.1em 0em;
    }
}

#settings-menu-toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

#settings-menu-toggle{
    @include fonts.contrast-font(white);
    
    font-size: 2vh;
    transform: scale(1.5);
    transition: transform 0.5s;

    &:hover{
        cursor: pointer;
    }
}