@use "base/fonts";
@use "base/globals";

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

@import "base/reset"; 

@import "components/header";
@import "components/settings-menu";

html{
    @include fonts.default-font;
}

.root{
    position: absolute;
    display: flex;
    bottom: 0; 
    min-width: 100vw;
    height: 100%;
    padding: 0em 1em;
    transition: bottom 0.5s; 

    @media only screen and (min-width: 798px) {
        padding: 0em 2.5em;
    }

    video.background{
        z-index: -100;
    }

    img.background{
        z-index: -101;
    }

    &.active{
        bottom: globals.$settings-menu-size;
    }
}

#toggle-fx{

}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}