@use "base/fonts";
@use "base/globals";

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

@import "base/reset"; 
@import "base/layers";

@import "components/header";
@import "components/settings-menu";
@import "components/background-menu";

html{
    @include fonts.default-font;
}

#page-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: clip;
}

#page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100vh);
    overflow-y: visible;
}

#page-background-container{
    transform: translateY(-0px);
    
    #page-background-overlay{
        min-height: 100vh;
    }
 
    #page-background-image{
        min-height: 100vh;
        transform: rotateX(180deg);
    }

    #page-background-video{
        min-height: 100vh;
        transform: rotateX(180deg);
    }
}

#root{
    position: absolute;
    display: flex;
    bottom: 0; 
    width: 100%;
    height: 100%;
    padding: 0em 1em;

    @media only screen and (min-width: 798px) {
        padding: 0em 2.5em;
    }

    &.active{
        bottom: globals.$settings-menu-size;
    }
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.overlay{
    position: relative;
    background-color: rgb(224, 250, 255);
    opacity: 0.05;
}